*{
    font-family: 'Poppins', cursive;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden !important;
}

/*------------------------ Navbar ---------------------------*/

.navbar {
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.5);
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-nav li {
    margin-right: 20px;
    margin-left: 20px;
}

.btn-outline-dark {
    margin-right: 50px;

}

.container-fluid img {
    margin-left: 10px;
}

#section1 {
    height: 80vh;
    width: 100%;
}

#section2 {
    height: 100vh;
    padding-top: 20vh;
}

#section3 {
    height: 80vh;
    padding-top: 15vh !important;
}

.btn-nav {
    margin-right: 30px;

}

/*------------------------ End Navbar ---------------------------*/


/*------------------------ Section 1 - Header ---------------------------*/

#header {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 150px;
    height: 100vh;
    padding-top: 150px;
    align-items: center;
    justify-content: center;
    background-color: #a58e74;
}

.container-header {
    height: 100;
    display: flex;
    align-items: center;
    justify-content: left;
}

.container-header h2 {
    margin-left: 30px;
    font-size: 50px;
    font-family: 'Poppins', cursive;
    font-weight: 1000;
    text-align: center;
    color: #ffefcd;
    text-shadow: black;
    margin-bottom: 10px;
    padding-right: 180px;
    text-shadow: 2px 2px 6px #000000
}

.container-header h1 {
    font-size: 50px;
    font-family: 'Poppins', cursive;
    font-weight: 1000;
    text-align: center;
    color: #ffefcd;
    margin-left: 180px;
    text-shadow: 2px 2px 6px #000000
}


.shop-container-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.shop-btn {
    padding: 10px 60px !important;
    border-radius: 40px !important;
    margin-top: 30px;
    font-size: 15px !important;
    font-weight: 500 !important;
    background-color: #E09132 !important;
}

.shop-btn:hover {
    background-color: rgb(255, 44, 44) !important;
}

/*------------------------ Section 1 - Header ---------------------------*/


/*------------------------ Section 2 - WHY ---------------------------*/

.fluid-container h1 {
    font-family: 'Poppins', cursive;
    font-size: 50px;
    font-weight: 1000;
    text-shadow: 2px 2px 4px black;
    color: black;

}

.why-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-container img {
    width: 70px;
    height: 70px;
}

.why-container h3 {
    color: #000000;
    text-shadow: 1px 1px 2px black;
    font-weight: 500;
    margin-top: 20px;
}

.fa-solid {
    color: black;
    text-shadow: 1px 1px 2px black;
}

.line {
    height: 5px;
    width: 15%;
    background-color: #7d82a7;
    margin-bottom: 90px;
    margin-left: 43%;

}



/*------------------------ Section 2 - End Why ---------------------------*/



/*------------------------ Section 3 - Collection ---------------------------*/

.main-collection {
    height: 50vh !important;
}

.main-collection h1 {
    font-family: 'Poppins', cursive;
    font-size: 50px;
    font-weight: 1000;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    color: black;
}

.card img {
    background-color: #7d82a7;
}

/* .card:hover {
    transform: scale(1.05);
    transition: transform .5s;
} */

.card {
    margin: 0 60px;
}

/* .card-body .btn {
    margin-left: 35%;
} */

.card-title {
    font-size: 25px;
    font-weight: 800;
}

/*------------------------ Section 3 - End Collection ---------------------------*/


/*------------------------ Section 4 - Contact ---------------------------*/





/*------------------------ Section 4 - End Contact ---------------------------*/

/*------------------------ PAGE 2 - SHOP ---------------------------*/
/* 
@media (min-width:320px) and (max-width:767.98px){

    .navbar-brand img {
        height: 30px;
        margin-left: 0;
    }

    .btn-nav {
        width: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-nav img {
        width: 15px;
        height: 15px;
    }

    .btn-nav .btn {
        width: 30px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #header {
        width: 100%;
    }

    .main-container {
        width: 100%;
    } */

    /* Home Page */
    /* #header {
        height: 100vh;
        padding-top: 350px;
        align-items: center;
        justify-content: center;
        background-position: -200px -10px !important;
        background-color: #7d82a7;
    }

    .container-header h2 {
        margin-left: 30px;
        font-size: 25px;
        font-family: 'Poppins', cursive;
        font-weight: 1000;
        text-align: center;
        color: whitesmoke;
        text-shadow: black;
        margin-bottom: 10px;
        margin-left: 20px !important;
        padding-right: 30px !important;
        text-shadow: 2px 2px 6px #000000
    }

    .container-header h1 {
        font-size: 25px;
        font-family: 'Poppins', cursive;
        font-weight: 1000;
        text-align: center;
        color: whitesmoke;
        margin-left: 30px !important;
        text-shadow: 2px 2px 6px #000000
    }


    .shop-container-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
    }

    .shop-btn {
        padding: 10px 20px !important;
        border-radius: 40px !important;
        margin-top: 20px;
        font-size: 12px !important;
        font-weight: 500 !important;
    } */

    /* Collection */
    /* #section2 {
        height: 230vh !important;
    }

    .why-container {
        display: flex;
        align-items: center;
        justify-content: center !important;
        width: 100% !important;
    }
    
     .shipping{
        margin-bottom: 20px !important;
        
    } 
    .why-container h3{
        font-size: 15px;
    }
    
    .fa-solid{
        font-size: 40px;
    }
    .line {
        margin-bottom: 30px;
    }

    .fluid-container h1 {
        font-family: 'Poppins', cursive;
        font-size: 25px;
        font-weight: 1000;
        padding-top: 10vh;
        text-align: center;
        text-shadow: 2px 2px 4px black;
        color: black;

    }

    .mesh-collection {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .card {
        width: 13rem !important;
        height: auto !important;
        margin-bottom: 20px;
    }

    .card img {
        height: auto !important;
    }

    .card-title {
        font-size: 20px;
    }

    .card-text {
        font-size: 12px;
    } */

    /* Contact Us */
    /* .container h2{
        font-size: 30px;
        text-shadow: 1px 1px 2px #000000;
        font-weight: 700;
        text-align: center;
    }
  .contact-info{
    font-size: 12px;
    text-decoration: none;
    color: #000000;
  }

  .contact .fa-2xl{
    font-size: 20px;
    color: #7d82a7;
    margin-right: 30px;
  }
  .d-grid .btn{
    font-size: 12px;
    margin-left: 120%;
  }
  .container .ms-5{
    margin-left: 1rem !important;
  }
  .socials-contact{
    align-items: center;
    justify-content: center;
  }
#inputFName{
    margin-top: 20px;
}
.container .contact-map{
    width: 250px !important;
    height: auto !important;
}
.socials-contact .fa-brands{
    font-size: 30px !important;
    color: whitesmoke;
    margin-right: 40px;
}
}

@media (min-width:768px) and (max-width:1199.98px) {
    .navbar-brand img {
        height: 30px;
        margin-left: 0;
    }

    .btn-nav {
        width: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-nav img {
        width: 20px;
        height: 20px;
    }

    .btn-nav .btn {
        width: 30px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #header {
        width: 100%;
    }

    .main-container {
        width: 100%;
    } */

    /* Home Page */
    /* #header {
        height: 100vh;
        padding-top: 350px;
        align-items: center;
        justify-content: center;
        background-position: -100px -10px !important;
        background-color: #7d82a7;
    }

    .container-header h2 {
        margin-left: 30px;
        font-size: 25px;
        font-family: 'Poppins', cursive;
        font-weight: 1000;
        text-align: center;
        color: whitesmoke;
        text-shadow: black;
        margin-bottom: 10px;
        margin-left: 20px !important;
        padding-right: 30px !important;
        text-shadow: 2px 2px 6px #000000
    }

    .container-header h1 {
        font-size: 25px;
        font-family: 'Poppins', cursive;
        font-weight: 1000;
        text-align: center;
        color: whitesmoke;
        margin-left: 30px !important;
        text-shadow: 2px 2px 6px #000000
    }


    .shop-container-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
    }

    .shop-btn {
        padding: 10px 20px !important;
        border-radius: 40px !important;
        margin-top: 20px;
        font-size: 12px !important;
        font-weight: 500 !important;
    } */
    /* Collection */
    /* #section2 {
        height: 120vh !important;
    }

    .why-container .inside-container {
        display: flex;
        align-items: center;
        justify-content: center !important;
        flex-direction: row !important;
        margin-top: 20px;
    }
     .shipping{
        margin-bottom: 20px !important;
        margin: auto;
    } 
    .why-container h3{
        font-size: 20px;
    }
    .fa-solid{
        font-size: 50px;
    }
    .line {
        margin-bottom: 30px;
    }

    .fluid-container h1 {
        font-family: 'Poppins', cursive;
        font-size: 25px;
        font-weight: 1000;
        padding-top: 10vh;
        text-align: center;
        text-shadow: 2px 2px 4px black;
        color: black;

    }

    .mesh-collection {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .card {
        width: 12rem !important;
        height: auto !important;
        margin-bottom: 20px;
        margin: auto;
    }

    .card img {
        height: auto !important;
    }

    .card-title {
        font-size: 20px;
    }

    .card-text {
        font-size: 12px;
    }
    .mesh1-card img{
        height: 11rem !important;
        
    }
    .card-body .btn{
        margin-left: 45px;
        padding: 5px 10px !important;
        font-size: 15px;
    } */
    /* Contact Us */
    /* #section3{
        height: auto;
    }
    .container h2{
        font-size: 30px;
        text-shadow: 1px 1px 2px #000000;
        font-weight: 700;
        text-align: center;
    }
  .contact-info{
    font-size: 15px;
    text-decoration: none;
    color: #000000;
  }

  .contact .fa-2xl{
    font-size: 30px;
    color: #7d82a7;
    margin-right: 30px;
  }
  .d-grid .btn{
    font-size: 12px;
    margin-left: 150%;
  }
  .container .ms-5{
    margin-left: 1rem !important;
  }
  .socials-contact{
    align-items: center;
    justify-content: center;
  }
#inputFName{
    margin-top: 20px;
}
.form{
    margin-bottom: 30px;
}
.container .contact-map{
    width: 300px !important;
    height: auto !important;
}
.socials-contact .fa-brands{
    font-size: 30px !important;
    color: whitesmoke;
    margin-right: 40px;
}
} */


/* @media (min-width:1200px)  { */
    /* .navbar-brand img {
        height: 60px;
        margin-left: 30px;
    }

    .btn-nav {
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 150px;
    }

    .btn-nav img {
        width: 25px;
        height: 25px;
       
    }

    .btn-nav .btn {
        width: 30px;
        margin-right: 20px;
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #header {
        width: 100%;
    }

    .main-container {
        width: 100%;
    } */

    /* Home Page */
    /* #header {
        height: 100vh;
        padding-top: 350px;
        align-items: center;
        justify-content: center;
        background-color: #7d82a7;
    }

    .container-header h2 {
        margin-left: 30px;
        font-size: 50px;
        font-family: 'Poppins', cursive;
        font-weight: 1000;
        text-align: center;
        color: whitesmoke;
        text-shadow: black;
        margin-bottom: 10px;
        margin-left: 20px !important;
        padding-right: 30px !important;
        text-shadow: 2px 2px 6px #000000
    }

    .container-header h1 {
        font-size: 50px;
        font-family: 'Poppins', cursive;
        font-weight: 1000;
        text-align: center;
        color: whitesmoke;
        margin-left: 150px;
        text-shadow: 2px 2px 6px #000000
    }


    .shop-container-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
    }

    .shop-btn {
        padding: 10px 20px !important;
        border-radius: 40px !important;
        margin-top: 20px;
        font-size: 15px !important;
        font-weight: 500 !important;
    }

    .why-container .inside-container {
        display: flex;
        align-items: center;
        justify-content: center !important;
        flex-direction: row !important;
        margin-top: 20px;
    }
    .shipping{
        margin-bottom: 20px !important;
        margin: 0px 150px;
    } 
    /* Contact */
    /* #section3{
        height: auto;
        padding-top: 20vh !important;
    }
    .container h2{
        font-size: 50px;
        text-shadow: 1px 1px 2px #000000;
        font-weight: 700;
        text-align: left;
    }
  .contact-info{
    font-size: 20px;
    text-decoration: none;
    color: #000000;
  }

  .contact .fa-2xl{
    font-size: 30px;
    color: #7d82a7;
    margin-right: 30px;
  }
  .d-grid .btn{
    font-size: 15px;
    margin-left: 180%;
  }
  .container .ms-5{
    margin-left: 7rem !important;
  }
  .socials-contact{
    align-items: center;
    justify-content: center;
  }
#inputFName{
    margin-top: 50px;
}
.form{
    margin-bottom: 100px !important;
}
.socials-contact .fa-brands{
    font-size: 40px !important;
    color: whitesmoke;
    margin-right: 30px;
}
.iframe{
    height: 100px !important; 
}
}  */

